.form-container{
    height: 75vh;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

form{
    min-height: 25vh;
    padding: 0.25rem;
    margin: auto;
}

.nextBtn{
    width: 93%;
    height: 2.4rem;
    padding: 3rem;
    /* background-color: #664de5 !important; */
    background-color: #5135e4 !important; 
    font-weight: 500 !important;
    font-size: small !important; 
}
.formInputs{
   padding: 0.5rem;
   margin: 0.5rem;
}
.formInputs label{
    float: left;
    font-weight: bold;
}

.stepTitle h2{
    font-weight: bold;
}
.stepTitle p{
    font-weight: 500;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #4425e4 !important;
    border-color: #4425e4 !important;
}
.form-control:focus{
    border-color: #4425e4 !important;
}
