body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:whitesmoke;
  width: 100%;
  height: 98vh;
}

code {
  font-family: 'Inter', sans-serif;
}
